body {
    font-family: 'Roboto', sans-serif;
    background-color: #260E37;
    color: white;

}

.nav_bar {
	border: 3px solid #0A0110;
	background-color: #160422;
	overflow: hidden;
	margin: 30px;
}

.nav_bar a {
	float: left;
	background-color: #0A0110;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	text-align: center;
	margin: 5px;
	text-decoration: none;

}

.nav_bar a:visited {
    color: white;

}

.nav_bar a:link {
    color: white;

}

.nav_bar a:hover {
	background-color: #4D315F;
}
